body {
    margin: 0;
    font-family: Helvetica;

}
#paris {
    height: auto;
    width: auto;
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}